In [1]:
import pandas as pd
from datetime import datetime

In [2]:
path = '/home/poyraden/Analysis/Homogenization_public/Files/sodankyla/'
dfmeta = pd.read_csv(path + 'Metadata/All_metadata.csv')

In [29]:
dfmeta[['Date', 'TLab','ULab','Pground']]

          Date  TLab  ULab  Pground
0     20000105  20.7  30.0    974.5
1     20000107  23.7  32.0    962.7
2     20000112  23.7  32.0    978.9
3     20000117  24.0  30.0    957.2
4     20000120  21.5  25.0    978.0
...        ...   ...   ...      ...
1348  19991124  24.1  36.0    997.2
1349  19991201  23.1  33.0    941.7
1350  19991208  22.7  24.0    967.3
1351  19991215  22.0  31.0    981.7
1352  19991229  22.7  31.0    984.2

[1353 rows x 4 columns]

In [30]:
series = dfmeta[['Date', 'TLab','ULab','Pground']]

In [31]:
series['Date']  = series['Date'].apply(lambda x: datetime.strptime(str(x), '%Y%m%d'))

/home/poyraden/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [32]:
series = series.set_index('Date')

In [33]:
upsampled = series.resample('1M').mean()

In [34]:
upsampled[upsampled.index > '1999-01-01']

                 TLab       ULab     Pground
Date
1999-01-31  21.800000  29.666667  982.655556
1999-02-28  22.614286  26.142857  976.542857
1999-03-31  22.428571  29.428571  990.214286
1999-04-30  23.175000  31.500000  984.100000
1999-05-31  23.550000  33.250000  992.875000
...               ...        ...         ...
2019-06-30  22.900000  30.000000  990.750000
2019-07-31  24.050000  38.000000  995.600000
2019-08-31  23.600000  39.000000  983.300000
2019-09-30  24.500000  33.000000  983.900000
2019-10-31  22.600000  23.000000  989.000000

[250 rows x 3 columns]

In [43]:
upsampled[upsampled.index.month == 1].mean()[2]

984.1804292929296

In [36]:
upsampled[upsampled.index.month == 1].median()

TLab        21.377500
ULab        14.638889
Pground    982.802778
dtype: float64