In [74]:
import pandas as pd
import numpy as np

In [151]:
dfs = pd.read_hdf('/home/poyraden/Analysis/Homogenization_public/Files/sodankyla/Current/so160324_rawcurrent.hdf')

In [152]:
dfs

,Pair,Time,Height,TboxK,TboxC,WindDirection,WindSpeed,O3,T,U,SensorType,SolutionVolume,Cef,ibg,iB2,I,Date
1,979.3,2.0,183.0,300.75,27.6,287.0,3.0,3.60,-2.8,58.0,DMT-Z,3.0,1.00000,0.049,0.049,1.003024,20160324
2,978.7,4.0,187.0,300.75,27.6,294.0,3.0,3.65,-2.8,58.0,DMT-Z,3.0,1.00000,0.049,0.049,1.016274,20160324
3,977.8,6.0,194.0,300.85,27.7,298.0,3.0,3.74,-3.0,58.0,DMT-Z,3.0,1.00000,0.049,0.049,1.039795,20160324
4,976.8,8.0,202.0,300.85,27.7,300.0,3.2,3.81,-3.3,58.0,DMT-Z,3.0,1.00000,0.049,0.049,1.058340,20160324
5,975.6,10.0,212.0,300.85,27.7,299.0,3.5,3.82,-3.3,59.0,DMT-Z,3.0,1.00000,0.049,0.049,1.060989,20160324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2602,5.3,7422.0,34689.0,301.95,28.8,74.0,10.0,3.00,-41.5,1.0,DMT-Z,3.0,1.12030,0.049,0.049,0.755829,20160324
2603,5.2,7458.0,34816.0,301.75,28.6,65.0,7.3,2.93,-41.7,1.0,DMT-Z,3.0,1.12215,0.049,0.049,0.738655,20160324
2604,5.1,7492.0,34943.0,301.65,28.5,51.0,9.4,2.93,-42.0,1.0,DMT-Z,3.0,1.12400,0.049,0.049,0.737748,20160324
2605,5.0,7530.0,35081.0,301.65,28.5,40.0,14.5,2.88,-42.2,1.0,DMT-Z,3.0,1.12980,0.049,0.049,0.722519,20160324
2606,4.9,7570.0,35213.0,301.55,28.4,43.0,17.7,2.81,-42.2,1.0,DMT-Z,3.0,NaN,0.049,0.049,NaN,20160324

In [142]:
dfr = pd.read_hdf('/home/poyraden/Analysis/Homogenization_Analysis/Files/Nilu/Sodankyl/SO030301.hdf')

,Pressure at observation (hPa),Time after launch (s),Geopotential height (gpm),Temperature (C),Relative humidity (%),Temperature inside styrofoam box (C),Ozone partial pressure (mPa),Horizontal wind direction (degrees),Horizontal wind speed (m/s)
308,674.3,616,3233,-13.1,15,27.9,3.51,300,13.0
309,673.5,618,3242,-13.1,17,27.9,3.49,300,13.0
310,672.7,620,3252,-13.2,18,27.8,3.48,300,13.0

In [121]:
dfo = pd.read_hdf('/home/poyraden/Analysis/Homogenization_Analysis/Files/Nilu/Sodankyl/DQA/All/20030301_all_dqa_test.hdf')

In [122]:
print(list(dfo))

['Time', 'Height', 'Tbox', 'WindDirection', 'WindSpeed', 'LaunchTime', 'Longitude', 'Latitude', 'SolutionVolume', 'SolutionConcentration', 'PF', 'iB0', 'iB2', 'DurationSurfaceOzoneExposure', 'SurfaceOzone', 'Pground', 'SondeTotalO3', 'CorrectionFactor', 'TLab', 'ULab', 'GroundEquipment', 'PumpTable', 'BackgroundCorrection', 'PumpTempLoc', 'SerialECC', 'SensorType', 'InterfaceSerial', 'RadiosondeModel', 'RadiosondeSerial', 'Pair', 'O3', 'T', 'U', 'Cef', 'ibg', 'Pcor', 'I', 'Date', 'Datedt', 'Tpump', 'Phip', 'Eta', 'unc_Phip', 'unc_Tpump', 'unc_cph', 'unc_cpl', 'Crs', 'unc_Crs', 'unc_alpha_o3', 'alpha_o3', 'stoich', 'unc_stoich', 'eta_c', 'unc_eta', 'unc_eta_c', 'iBc', 'unc_iBc', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'x', 'psaturated', 'cph', 'tlabK', 'cPL', 'Phip_ground', 'unc_Phip_ground', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'Phip_PF', 'O3c', 'O3_tpump', 'O3_bkg', 'O3_eta', 'O3_phip', 'O3_nc', 'dI', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dPrs', 'dO3']

In [123]:
dfo[['ibg','Pcor']]

           ibg  Pcor
0     0.037989     0
1     0.037940     0
2     0.037922     0
3     0.037903     0
4     0.037875     0
...        ...   ...
2461  0.001494     0
2462  0.001494     0
2463  0.001490     0
2464  0.001490     0
2465  0.001490     0

[2466 rows x 2 columns]

In [124]:
dfo['test'] = dfo['O3'] /(4.3087 * 10 ** (-4) * dfo['Tbox'] * dfo['PF'] * dfo['Cef'] * 1) + dfo['ibg']

In [125]:
dfo['test2'] = dfo['test']/dfo['Cef']

In [141]:
dfo[['Time','Pair','Tbox','Height','I','test','test2','Cef','ibg','iB0','iB2','Phip','PF','O3','O3_nc','O3_tpump', 'O3_bkg', 'O3_eta', 'O3_phip', 'O3c' ,'SensorType']][308:311]

,Time,Pair,Tbox,Height,I,test,test2,Cef,ibg,iB0,...,Phip,PF,O3,O3_nc,O3_tpump,O3_bkg,O3_eta,O3_phip,O3c,SensorType
308,616,674.5399,301.05,3233,0.994659,0.994659,0.992074,1.002606,0.027993,0.045,...,3.581662,27.92,3.51,3.464476,3.483312,3.464476,3.464476,3.522605,3.541757,SPC
309,618,673.7426,301.05,3242,0.989118,0.989118,0.986541,1.002612,0.027966,0.045,...,3.581662,27.92,3.49,3.444408,3.463140,3.444408,3.444408,3.502201,3.521247,SPC
310,620,672.9456,300.95,3252,0.986649,0.986649,0.984073,1.002618,0.027939,0.045,...,3.581662,27.92,3.48,3.434327,3.453014,3.434327,3.434327,3.491950,3.510952,SPC

In [145]:
dfr[308:311]

,Pressure at observation (hPa),Time after launch (s),Geopotential height (gpm),Temperature (C),Relative humidity (%),Temperature inside styrofoam box (C),Ozone partial pressure (mPa),Horizontal wind direction (degrees),Horizontal wind speed (m/s)
308,674.3,616,3233,-13.1,15,27.9,3.51,300,13.0
309,673.5,618,3242,-13.1,17,27.9,3.49,300,13.0
310,672.7,620,3252,-13.2,18,27.8,3.48,300,13.0

In [150]:
dfn[['Time','Pair','TboxK','Height','I','test','Cef','ibg','Phip','O3','O3_nc','O3c_tpump', 'O3c_bkg', 'O3c_eta', 'O3c_phip', 'O3c']][307:310]

,Time,Pair,TboxK,Height,I,test,Cef,ibg,Phip,O3,O3_nc,O3c_tpump,O3c_bkg,O3c_eta,O3c_phip,O3c
308,616.0,674.77,301.05,3233.0,0.994715,0.994715,1.002612,0.028055,3.581662,3.51,3.464677,3.483513,3.464677,3.464677,3.522811,3.541963
309,618.0,673.97,301.05,3242.0,0.989174,0.989174,1.002618,0.028028,3.581662,3.49,3.444610,3.463342,3.444610,3.444610,3.502406,3.521452
310,620.0,673.17,300.95,3252.0,0.986704,0.986704,1.002626,0.028001,3.581662,3.48,3.434525,3.453213,3.434525,3.434525,3.492153,3.511154

In [147]:
dfn = pd.read_hdf('/home/poyraden/Analysis/Homogenization_public/Files/sodankyla/DQA/20030301_all_hom_rs80.hdf')

In [148]:
dfn['PF'] = 100/dfn['Phip']

In [149]:
dfn['test'] = dfn['O3'] / (4.3087 * 10 ** (-4) * dfn['TboxK'] * dfn['PF'] * dfn['Cef'] * 1) + dfn['ibg']

In [135]:
print(list(dfn))

['Pair', 'Time', 'Height', 'TboxK', 'TboxC', 'WindDirection', 'WindSpeed', 'O3', 'T', 'U', 'SensorType', 'SolutionVolume', 'Cef', 'ibg', 'iB2', 'CorP', 'Pcor', 'I', 'Date', 'Tpump', 'Phip', 'Tpump_cor', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'O3c', 'O3_nc', 'O3c_eta', 'O3c_bkg', 'O3c_etabkg', 'O3c_phip', 'O3c_etabkgphip', 'O3c_tpump', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dO3', 'PF', 'test']

In [140]:
dfn[['Time','Pair','TboxK','Height','I','test','Cef','ibg','Phip','O3','O3_nc','O3c_tpump', 'O3c_bkg', 'O3c_eta', 'O3c_phip', 'O3c']][307:310]

,Time,Pair,TboxK,Height,I,test,Cef,ibg,Phip,O3,O3_nc,O3c_tpump,O3c_bkg,O3c_eta,O3c_phip,O3c
308,616.0,674.3,301.05,3233.0,0.994715,0.994715,1.002612,0.028055,3.581662,3.51,3.464677,3.483516,3.464677,3.464677,3.522811,3.541965
309,618.0,673.5,301.05,3242.0,0.989174,0.989174,1.002618,0.028028,3.581662,3.49,3.444610,3.463344,3.444610,3.444610,3.502406,3.521455
310,620.0,672.7,300.95,3252.0,0.986704,0.986704,1.002626,0.028001,3.581662,3.48,3.434525,3.453216,3.434525,3.434525,3.492153,3.511157

In [102]:
dfo[['Time','Height','Tbox','Tpump','I','test','test2','Cef','ibg','Phip','PF','O3','O3_nc','O3_tpump', 'O3_bkg', 'O3_eta', 'O3_phip', 'O3c' ]][308:]

,Time,Height,Tbox,Tpump,I,test,test2,Cef,ibg,Phip,PF,O3,O3_nc,O3_tpump,O3_bkg,O3_eta,O3_phip,O3c
308,616,3233,301.05,301.05,0.994659,0.994659,0.992074,1.002606,0.027993,3.581662,27.92,3.51,3.464476,3.483312,3.464476,3.464476,3.522605,3.541757
309,618,3242,301.05,301.05,0.989118,0.989118,0.986541,1.002612,0.027966,3.581662,27.92,3.49,3.444408,3.463140,3.444408,3.444408,3.502201,3.521247
310,620,3252,300.95,300.95,0.986649,0.986649,0.984073,1.002618,0.027939,3.581662,27.92,3.48,3.434327,3.453014,3.434327,3.434327,3.491950,3.510952
311,622,3261,301.05,301.05,0.986294,0.986294,0.983711,1.002626,0.027908,3.581662,27.92,3.48,3.434179,3.452865,3.434179,3.434179,3.491800,3.510800
312,624,3270,300.95,300.95,0.978314,0.978314,0.975746,1.002632,0.027881,3.581662,27.92,3.45,3.404151,3.422685,3.404151,3.404151,3.461269,3.480113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461,4922,24242,286.65,286.65,2.162718,2.162718,2.098707,1.030500,0.001494,3.581662,27.92,7.68,7.326468,7.398501,7.326468,7.326468,7.669173,7.744575
2462,4924,24253,286.65,286.65,2.185230,2.185230,2.120553,1.030500,0.001494,3.581662,27.92,7.76,7.404097,7.476893,7.404097,7.404097,7.750433,7.826634
2463,4926,24264,286.65,286.65,2.170945,2.170945,2.106486,1.030600,0.001490,3.581662,27.92,7.71,7.354837,7.427188,7.354837,7.354837,7.699618,7.775361
2464,4928,24276,286.65,286.65,2.176572,2.176572,2.111947,1.030600,0.001490,3.581662,27.92,7.73,7.374242,7.446784,7.374242,7.374242,7.719934,7.795876
2465,4930,24284,286.65,286.65,2.162503,2.162503,2.098295,1.030600,0.001490,3.581662,27.92,7.68,7.325729,7.397794,7.325729,7.325729,7.669147,7.744590

In [106]:
import math

In [110]:
dfo['pairlog'] = dfo['Pair'].apply(lambda x: math.log(x))
# series['Date'].apply(lambda x: datetime.strptime(str(x), '%Y%m%d'))

In [116]:
print(list(dfo))

['Time', 'Height', 'Tbox', 'WindDirection', 'WindSpeed', 'LaunchTime', 'Longitude', 'Latitude', 'SolutionVolume', 'SolutionConcentration', 'PF', 'iB0', 'iB2', 'DurationSurfaceOzoneExposure', 'SurfaceOzone', 'Pground', 'SondeTotalO3', 'CorrectionFactor', 'TLab', 'ULab', 'GroundEquipment', 'PumpTable', 'BackgroundCorrection', 'PumpTempLoc', 'SerialECC', 'SensorType', 'InterfaceSerial', 'RadiosondeModel', 'RadiosondeSerial', 'Pair', 'O3', 'T', 'U', 'Cef', 'ibg', 'Pcor', 'I', 'Date', 'Datedt', 'Tpump', 'Phip', 'Eta', 'unc_Phip', 'unc_Tpump', 'unc_cph', 'unc_cpl', 'Crs', 'unc_Crs', 'unc_alpha_o3', 'alpha_o3', 'stoich', 'unc_stoich', 'eta_c', 'unc_eta', 'unc_eta_c', 'iBc', 'unc_iBc', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'x', 'psaturated', 'cph', 'tlabK', 'cPL', 'Phip_ground', 'unc_Phip_ground', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'Phip_PF', 'O3c', 'O3_tpump', 'O3_bkg', 'O3_eta', 'O3_phip', 'O3_nc', 'dI', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dPrs', 'dO3', 'test', 'test2', 'pairlog']

In [119]:
dfo[['Date','Pair', 'pairlog','Eta','eta_c','SensorType','SolutionConcentration','stoich']]

,Date,Pair,pairlog,Eta,eta_c,SensorType,SolutionConcentration,stoich
0,20030301,1002.76086,6.910512,1,1.0,SPC,10.0,1
1,20030301,1000.96528,6.908720,1,1.0,SPC,10.0,1
2,20030301,1000.26732,6.908023,1,1.0,SPC,10.0,1
3,20030301,999.56936,6.907325,1,1.0,SPC,10.0,1
4,20030301,998.57208,6.906326,1,1.0,SPC,10.0,1
...,...,...,...,...,...,...,...,...
2461,20030301,22.49758,3.113408,1,1.0,SPC,10.0,1
2462,20030301,22.49747,3.113403,1,1.0,SPC,10.0,1
2463,20030301,22.39736,3.108943,1,1.0,SPC,10.0,1
2464,20030301,22.39724,3.108938,1,1.0,SPC,10.0,1
2465,20030301,22.39716,3.108934,1,1.0,SPC,10.0,1