In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dflin = pd.read_hdf('/home/poyraden/Analysis/Homogenization_public/Files/sodankyla/DQA/20030301_all_hom_lin.hdf')

In [3]:
print(list(dflin))

['Pair', 'Time', 'Height', 'TboxK', 'TboxC', 'WindDirection', 'WindSpeed', 'O3', 'T', 'U', 'SensorType', 'SolutionVolume', 'Cef', 'ibg', 'iB2', 'CorP', 'Pcor', 'I', 'Date', 'Tpump', 'Phip', 'stoich', 'unc_stoich', 'eta_c', 'unc_eta', 'unc_eta_c', 'Tpump_cor', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'O3c', 'O3_nc', 'O3c_eta', 'O3c_bkg', 'O3c_etabkg', 'O3c_phip', 'O3c_etabkgphip', 'O3c_tpump', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dO3']

In [19]:
dflin[dflin.Pair < 50][['Pair', 'Time','Cpf']]

      Pair    Time      Cpf
2023  49.9  4066.0  1.01804
2024  49.8  4068.0  1.01806
2025  49.7  4072.0  1.01808
2026  49.6  4074.0  1.01812
2027  49.4  4076.0  1.01814
...    ...     ...      ...
2299  21.8  4908.0  1.03030
2300  21.7  4912.0  1.03040
2301  21.6  4916.0  1.03050
2302  21.5  4922.0  1.03060
2303  21.4  4926.0      NaN

[281 rows x 3 columns]

In [20]:
linear = dflin[dflin.Pair < 50]['Cpf'].tolist()

In [32]:
print(linear)

[1.01804, 1.01806, 1.01808, 1.01812, 1.01814, 1.01818, 1.0182, 1.0182200000000001, 1.01824, 1.01826, 1.01828, 1.0183, 1.0183200000000001, 1.01834, 1.01836, 1.01838, 1.0184, 1.01842, 1.01844, 1.01846, 1.01848, 1.01852, 1.01854, 1.01856, 1.01858, 1.0186, 1.01862, 1.01864, 1.0186600000000001, 1.01868, 1.0187, 1.01872, 1.01874, 1.01876, 1.01878, 1.0188, 1.01882, 1.01886, 1.01888, 1.0189, 1.01892, 1.01894, 1.01896, 1.01898, 1.0190000000000001, 1.01902, 1.01904, 1.01906, 1.01908, 1.0191000000000001, 1.01912, 1.01914, 1.01916, 1.01918, 1.0192, 1.01922, 1.01924, 1.01926, 1.01928, 1.0193, 1.01932, 1.01934, 1.01936, 1.01938, 1.0194, 1.01942, 1.0194400000000001, 1.01946, 1.01948, 1.0195, 1.0195400000000001, 1.01956, 1.01958, 1.0196, 1.01962, 1.01964, 1.01966, 1.01968, 1.0197, 1.01972, 1.01974, 1.01976, 1.01978, 1.0198, 1.01982, 1.01984, 1.01986, 1.0198800000000001, 1.0199, 1.01992, 1.01994, 1.01996, 1.01998, 1.02, 1.02002, 1.02004, 1.02006, 1.02008, 1.0201, 1.02012, 1.02014, 1.02016, 1.02018, 1.0202, 1.0202200000000001, 1.02024, 1.02026, 1.02028, 1.0203, 1.0203200000000001, 1.02034, 1.02036, 1.02038, 1.0204, 1.02042, 1.02044, 1.02046, 1.02048, 1.0205, 1.02052, 1.02054, 1.02056, 1.02058, 1.0206, 1.02062, 1.02064, 1.0206600000000001, 1.02068, 1.0207, 1.02072, 1.02074, 1.0207600000000001, 1.02078, 1.0208, 1.02082, 1.02084, 1.02086, 1.02088, 1.0209, 1.02092, 1.02094, 1.02096, 1.02098, 1.021, 1.02102, 1.02104, 1.02106, 1.02108, 1.0211000000000001, 1.02112, 1.02114, 1.02116, 1.02118, 1.0212, 1.02122, 1.02124, 1.02126, 1.02128, 1.0213, 1.02132, 1.02134, 1.02136, 1.02138, 1.0214, 1.02142, 1.0214400000000001, 1.02146, 1.02148, 1.0215, 1.02152, 1.0215400000000001, 1.02156, 1.02158, 1.0216, 1.02162, 1.02164, 1.02166, 1.02168, 1.0217, 1.02172, 1.02174, 1.02176, 1.02178, 1.0218, 1.02182, 1.02184, 1.02186, 1.0218800000000001, 1.0219, 1.02192, 1.02194, 1.02196, 1.02198, 1.022, 1.0221, 1.0222, 1.0223, 1.0224, 1.0225, 1.0226, 1.0227, 1.0228, 1.0229, 1.0230000000000001, 1.0231000000000001, 1.0232, 1.0233, 1.0234, 1.0235, 1.0236, 1.0237, 1.0238, 1.0239, 1.024, 1.0241, 1.0242, 1.0243, 1.0244, 1.0245, 1.0246, 1.0247, 1.0248, 1.0249, 1.025, 1.0251000000000001, 1.0252000000000001, 1.0253, 1.0254, 1.0255, 1.0256, 1.0257, 1.0258, 1.0259, 1.026, 1.0261, 1.0262, 1.0263, 1.0264, 1.0265, 1.0266, 1.0267, 1.0268, 1.0269, 1.0270000000000001, 1.0271000000000001, 1.0272000000000001, 1.0273, 1.0274, 1.0275, 1.0276, 1.0277, 1.0278, 1.0279, 1.028, 1.0281, 1.0282, 1.0283, 1.0284, 1.0285, 1.0286, 1.0287, 1.0288, 1.0289, 1.029, 1.0291000000000001, 1.0292000000000001, 1.0293, 1.0294, 1.0295, 1.0296, 1.0297, 1.0298, 1.0299, 1.03, 1.0301, 1.0302, 1.0303, 1.0304, 1.0305, 1.0306, nan]

In [13]:
dflog = pd.read_hdf('/home/poyraden/Analysis/Homogenization_public/Files/sodankyla/DQA/20030301_all_hom_log.hdf')

In [22]:
dflog['Cpflin'] = 1

In [17]:
dflog[dflog.Pair < 50][['Pair', 'Cpf']]

      Pair       Cpf  eta_c
2023  49.9  1.018031    1.0
2024  49.8  1.018047    1.0
2025  49.7  1.018063    1.0
2026  49.6  1.018095    1.0
2027  49.4  1.018110    1.0
...    ...       ...    ...
2299  21.8  1.029988    1.0
2300  21.7  1.030102    1.0
2301  21.6  1.030216    1.0
2302  21.5  1.030331    1.0
2303  21.4       NaN    1.0

[281 rows x 3 columns]

In [28]:
dflog[dflog.Pair < 50]['Cpflin'] = dflin[dflin.Pair<50]['Cpf']

/home/poyraden/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
dflog['dif'] = 0
dflog[dflog.Pair < 50]['dif'] = (dflog[dflog.Pair < 50]['Cpf'] - dflog[dflog.Pair < 50]['Cpflin'])/dflog[dflog.Pair < 50]['Cpflin'] * 100

/home/poyraden/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [31]:
dflog[dflog.Pair < 50][['Pair','Cpf','Cpflin','dif']]

      Pair       Cpf  Cpflin  dif
2023  49.9  1.018031       1    0
2024  49.8  1.018047       1    0
2025  49.7  1.018063       1    0
2026  49.6  1.018095       1    0
2027  49.4  1.018110       1    0
...    ...       ...     ...  ...
2299  21.8  1.029988       1    0
2300  21.7  1.030102       1    0
2301  21.6  1.030216       1    0
2302  21.5  1.030331       1    0
2303  21.4       NaN       1    0

[281 rows x 4 columns]

In [35]:
log = dflog[dflog.Pair < 50]['Cpf'].tolist()

In [36]:
print(len(linear), len(log))

281 281

In [37]:
dft = pd.DataFrame()

In [38]:
dft['lin'] = linear
dft['log'] = log

In [44]:
dft['dif'] = (dft['lin'] - dft['log'])/dft['log'] * 100

In [45]:
dft[['lin', 'log', 'dif']]

         lin       log       dif
0    1.01804  1.018031  0.000846
1    1.01806  1.018047  0.001265
2    1.01808  1.018063  0.001680
3    1.01812  1.018095  0.002501
4    1.01814  1.018110  0.002907
..       ...       ...       ...
276  1.03030  1.029988  0.030293
277  1.03040  1.030102  0.028938
278  1.03050  1.030216  0.027533
279  1.03060  1.030331  0.026076
280      NaN       NaN       NaN

[281 rows x 3 columns]