In [1]:
import pandas as pd
import numpy as np
import re
from re import search
import glob
from datetime import datetime
import time

In [2]:
allFiles = sorted(glob.glob("/home/poyraden/Analysis/Homogenization_Analysis/Files/Nilu/Sodankyl/DQA/All/*all_dqa_rs80.hdf"))

In [3]:
size = len(allFiles)

datelist = [0] * size
j = 0

list_data = []


for filename in allFiles:

    file = open(filename, 'r')
    date_tmp = filename.split('/')[-1].split('_')[0][2:8]

#     print(filename, date_tmp)

    date = datetime.strptime(date_tmp, '%y%m%d')

    datef = date.strftime('%Y%m%d')
    datestr = str(datef)
    datelist[j] = datestr
    if (j > 0) and (j < (size - 1)):
        if (datelist[j] == datelist[j - 1]):
            datestr = str(datef) + "_2nd"
            # print(datestr)
    j = j + 1

    df = pd.read_hdf(filename)
    
    if j < 5: print(list(df))
    
    df = df.drop_duplicates(['Date'])
    list_data.append(df)

#     print(df[0:10])

['Time', 'Height', 'Tbox', 'WindDirection', 'WindSpeed', 'LaunchTime', 'Longitude', 'Latitude', 'SolutionVolume', 'SolutionConcentration', 'PF', 'iB0', 'iB2', 'SurfaceOzone', 'Pground', 'SondeTotalO3', 'CorrectionFactor', 'TLab', 'ULab', 'GroundEquipment', 'PumpTable', 'BackgroundCorrection', 'SerialECC', 'SensorType', 'InterfaceSerial', 'RadiosondeModel', 'RadiosondeSerial', 'Pair', 'O3', 'T', 'U', 'Cef', 'ibg', 'Pcor', 'I', 'Date', 'Datedt', 'Tpump', 'Phip', 'Eta', 'unc_Phip', 'unc_Tpump', 'unc_cph', 'unc_cpl', 'Crs', 'unc_Crs', 'unc_alpha_o3', 'alpha_o3', 'stoich', 'unc_stoich', 'eta_c', 'unc_eta', 'unc_eta_c', 'iBc', 'unc_iBc', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'x', 'psaturated', 'cph', 'tlabK', 'cPL', 'Phip_ground', 'unc_Phip_ground', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'Phip_PF', 'O3c', 'dI', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dPrs', 'dO3']
['Time', 'Height', 'Tbox', 'WindDirection', 'WindSpeed', 'LaunchTime', 'Longitude', 'Latitude', 'SolutionVolume', 'SolutionConcentration', 'PF', 'iB0', 'iB2', 'SurfaceOzone', 'Pground', 'SondeTotalO3', 'CorrectionFactor', 'TLab', 'ULab', 'GroundEquipment', 'PumpTable', 'BackgroundCorrection', 'SerialECC', 'SensorType', 'InterfaceSerial', 'RadiosondeModel', 'RadiosondeSerial', 'Pair', 'O3', 'T', 'U', 'Cef', 'ibg', 'Pcor', 'I', 'Date', 'Datedt', 'Tpump', 'Phip', 'Eta', 'unc_Phip', 'unc_Tpump', 'unc_cph', 'unc_cpl', 'Crs', 'unc_Crs', 'unc_alpha_o3', 'alpha_o3', 'stoich', 'unc_stoich', 'eta_c', 'unc_eta', 'unc_eta_c', 'iBc', 'unc_iBc', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'x', 'psaturated', 'cph', 'tlabK', 'cPL', 'Phip_ground', 'unc_Phip_ground', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'Phip_PF', 'O3c', 'dI', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dPrs', 'dO3']
['Time', 'Height', 'Tbox', 'WindDirection', 'WindSpeed', 'LaunchTime', 'Longitude', 'Latitude', 'SolutionVolume', 'SolutionConcentration', 'PF', 'iB0', 'iB2', 'SurfaceOzone', 'Pground', 'SondeTotalO3', 'CorrectionFactor', 'TLab', 'ULab', 'GroundEquipment', 'PumpTable', 'BackgroundCorrection', 'SerialECC', 'SensorType', 'InterfaceSerial', 'RadiosondeModel', 'RadiosondeSerial', 'Pair', 'O3', 'T', 'U', 'Cef', 'ibg', 'Pcor', 'I', 'Date', 'Datedt', 'Tpump', 'Phip', 'Eta', 'unc_Phip', 'unc_Tpump', 'unc_cph', 'unc_cpl', 'Crs', 'unc_Crs', 'unc_alpha_o3', 'alpha_o3', 'stoich', 'unc_stoich', 'eta_c', 'unc_eta', 'unc_eta_c', 'iBc', 'unc_iBc', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'x', 'psaturated', 'cph', 'tlabK', 'cPL', 'Phip_ground', 'unc_Phip_ground', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'Phip_PF', 'O3c', 'dI', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dPrs', 'dO3']
['Time', 'Height', 'Tbox', 'WindDirection', 'WindSpeed', 'LaunchTime', 'Longitude', 'Latitude', 'SolutionVolume', 'SolutionConcentration', 'PF', 'iB0', 'iB2', 'SurfaceOzone', 'Pground', 'SondeTotalO3', 'CorrectionFactor', 'TLab', 'ULab', 'GroundEquipment', 'PumpTable', 'BackgroundCorrection', 'PumpTempLoc', 'SerialECC', 'SensorType', 'InterfaceSerial', 'RadiosondeModel', 'RadiosondeSerial', 'Pair', 'O3', 'T', 'U', 'Cef', 'ibg', 'Pcor', 'I', 'Date', 'Datedt', 'Tpump', 'Phip', 'Eta', 'unc_Phip', 'unc_Tpump', 'unc_cph', 'unc_cpl', 'Crs', 'unc_Crs', 'unc_alpha_o3', 'alpha_o3', 'stoich', 'unc_stoich', 'eta_c', 'unc_eta', 'unc_eta_c', 'iBc', 'unc_iBc', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'x', 'psaturated', 'cph', 'tlabK', 'cPL', 'Phip_ground', 'unc_Phip_ground', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'Phip_PF', 'O3c', 'dI', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dPrs', 'dO3']

In [4]:
dff = pd.concat(list_data,ignore_index=True)
csvall = "/home/poyraden/Analysis/Homogenization_Analysis/Files/Nilu/Sodankyl/DQA/All/All_metadata_nilu.csv"

dff.to_csv(csvall)

In [5]:
print(list(dff))

['Time', 'Height', 'Tbox', 'WindDirection', 'WindSpeed', 'LaunchTime', 'Longitude', 'Latitude', 'SolutionVolume', 'SolutionConcentration', 'PF', 'iB0', 'iB2', 'SurfaceOzone', 'Pground', 'SondeTotalO3', 'CorrectionFactor', 'TLab', 'ULab', 'GroundEquipment', 'PumpTable', 'BackgroundCorrection', 'SerialECC', 'SensorType', 'InterfaceSerial', 'RadiosondeModel', 'RadiosondeSerial', 'Pair', 'O3', 'T', 'U', 'Cef', 'ibg', 'Pcor', 'I', 'Date', 'Datedt', 'Tpump', 'Phip', 'Eta', 'unc_Phip', 'unc_Tpump', 'unc_cph', 'unc_cpl', 'Crs', 'unc_Crs', 'unc_alpha_o3', 'alpha_o3', 'stoich', 'unc_stoich', 'eta_c', 'unc_eta', 'unc_eta_c', 'iBc', 'unc_iBc', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'x', 'psaturated', 'cph', 'tlabK', 'cPL', 'Phip_ground', 'unc_Phip_ground', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'Phip_PF', 'O3c', 'dI', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dPrs', 'dO3', 'PumpTempLoc']

In [6]:
 dff2 = dff.drop(['Time', 'Height', 'Tbox', 'WindDirection', 'WindSpeed', 'Pair', 'O3',  'T', 'U', 'Cef', 'ibg', 'Pcor', 'I', 
              'Tpump', 'Phip', 'Eta', 'unc_Phip', 'unc_Tpump', 'unc_cph', 'unc_cpl', 'Crs', 'unc_Crs', 'unc_alpha_o3', 'alpha_o3', 'stoich', 'unc_stoich', 'eta_c', 'unc_eta', 'unc_eta_c', 'iBc', 'unc_iBc', 'Tpump_cor', 'unc_Tpump_cor', 'deltat', 'unc_deltat', 'deltat_ppi', 'unc_deltat_ppi', 'x', 'psaturated', 'cph', 'tlabK', 'cPL', 'Phip_ground', 'unc_Phip_ground', 'Cpf', 'unc_Cpf', 'Phip_cor', 'unc_Phip_cor', 'Phip_PF', 'O3c', 'dI', 'dIall', 'dEta', 'dPhi_cor', 'dTpump_cor', 'dPrs', 'dO3', 'PumpTempLoc'  ], axis = 1)

In [8]:
print(list(dff2))

['LaunchTime', 'Longitude', 'Latitude', 'SolutionVolume', 'SolutionConcentration', 'PF', 'iB0', 'iB2', 'SurfaceOzone', 'Pground', 'SondeTotalO3', 'CorrectionFactor', 'TLab', 'ULab', 'GroundEquipment', 'PumpTable', 'BackgroundCorrection', 'SerialECC', 'SensorType', 'InterfaceSerial', 'RadiosondeModel', 'RadiosondeSerial', 'Date', 'Datedt']

In [11]:
csvall = "/home/poyraden/Analysis/Homogenization_Analysis/Files/Nilu/Sodankyl/DQA/All/All_metadata_nilu.csv"

dff2.to_csv(csvall)

In [14]:
dff2[['Date','PF']]

         Date     PF
0    20021120  31.16
1    20021123  27.95
2    20021124  29.35
3    20021127  28.11
4    20021202  28.28
..        ...    ...
940  20201104  30.07
941  20201119  29.66
942  20201204  28.19
943  20201211  31.93
944  20201216  28.90

[945 rows x 2 columns]

In [9]:
dfnd = pd.read_csv('/home/poyraden/Analysis/Homogenization_public/Files/sodankyla/Metadata/All_metadata.csv')

In [10]:
print(list(dfnd))

['Unnamed: 0', 'BkgUsed', 'LaunchTime', 'Longitude', 'Latitude', 'SolutionVolume', 'SolutionConcentration', 'PF', 'iB0', 'iB2', 'DurationSurfaceOzoneExposure', 'SurfaceOzone', 'Pground', 'SondeTotalO3', 'TotalO3_Col2A', 'TotalO3_Col2B', 'CorrectionFactor', 'TLab', 'ULab', 'GroundEquipment', 'PumpTable', 'BackgroundCorrection', 'SerialECC', 'SensorType', 'InterfaceSerial', 'RadiosondeModel', 'RadiosondeSerial', 'Date', 'PumpTempLoc']

In [23]:
dfnd = dfnd.sort_values(['Date'])

In [24]:
dfnd[['Date','PF']]

         Date       PF
916  19911120  9999.00
917  19911127  9999.00
918  19911202  9999.00
919  19911203  9999.00
920  19911204  9999.00
..        ...      ...
911  20190709    28.58
912  20190725    28.15
913  20190814    28.13
914  20190905    29.49
915  20191003    29.63

[1353 rows x 2 columns]

In [27]:
len(dfnd[(dfnd.Date > 19910101) & (dfnd.Date < 19970107)])

214

In [25]:
len(dfnd)

1353

In [20]:
dfnd.Date.min()

19911120

In [7]:
dff2[['Date', 'SolutionVolume', 'SolutionConcentration', 'SensorType']]

         Date SolutionVolume SolutionConcentration SensorType
0    20021120            3.0                  10.0      DMT-Z
1    20021123            3.0                  10.0      DMT-Z
2    20021124            3.0                  10.0      DMT-Z
3    20021127            3.0                  10.0      DMT-Z
4    20021202            3.0                  10.0      DMT-Z
..        ...            ...                   ...        ...
940  20201104            3.0                   5.0      DMT-Z
941  20201119            3.0                   5.0      DMT-Z
942  20201204            3.0                   5.0      DMT-Z
943  20201211            3.0                   5.0      DMT-Z
944  20201216            3.0                   5.0      DMT-Z

[945 rows x 4 columns]

In [44]:
dff[['Date', 'SolutionVolume', 'SolutionConcentration', 'SensorType']].dtypes

Date                     object
SolutionVolume           object
SolutionConcentration    object
SensorType               object
dtype: object

In [96]:
dff[(dff.SolutionConcentration.astype(float) == 3) & (dff.SensorType == 'DMT-Z')][['Date', 'SolutionVolume', 'SolutionConcentration', 'SensorType']]

         Date SolutionVolume SolutionConcentration SensorType
216  20060324              3                     3      DMT-Z
240  20060427              3                     3      DMT-Z
243  20060517              3                     3      DMT-Z

In [47]:
dff[(dff.SolutionConcentration.astype(float) == 5.0) & (dff.SensorType == 'SPC')][['Date', 'SolutionVolume', 'SolutionConcentration', 'SensorType']]

         Date SolutionVolume SolutionConcentration SensorType
308  20070218              3                     5        SPC

In [90]:
dff.Date.min(), dff.Date.max()

('20021120', '20201216')

In [58]:
nilu_dates = dff.Date.tolist()

In [62]:
dfnd = pd.read_hdf('/home/poyraden/Analysis/Homogenization_public/Files/sodankyla/Metadata/All_metadata.hdf')
dfnd  = dfnd[dfnd.Date >= '20021120']

In [91]:
dfnd.Date.max()

'20191003'

In [63]:
ndac_dates = dfnd[dfnd.Date >= '20021120'].Date.tolist()

In [64]:
len(nilu_dates), len(ndac_dates)

(945, 747)

In [61]:
common_dates = list(set(nilu_dates).intersection(set(ndac_dates)))

In [65]:
df1 = dff[dff['Date'].isin(common_dates)]

In [67]:
df2 = dfnd[dfnd['Date'].isin(common_dates)]

In [72]:
df1 = df1.drop_duplicates('Date')
df2 = df2.drop_duplicates('Date')

In [73]:
len(df1), len(df2)

(731, 731)

In [77]:
df1not = dff[~dff.Date.isin(common_dates)]
df2not = dfnd[~dfnd.Date.isin(common_dates)]

In [78]:
len(df1not), len(df2not)

(206, 14)

In [94]:
df1not[(df1not.SolutionConcentration.astype(float) == 10) & (df1not.SensorType =='DMT-Z')][['Date', 'SolutionConcentration', 'SensorType']]

         Date SolutionConcentration SensorType
125  20040929                  10.0      DMT-Z
126  20041006                  10.0      DMT-Z
129  20041027                  10.0      DMT-Z
130  20041103                  10.0      DMT-Z
132  20041117                  10.0      DMT-Z
173  20050511                  10.0      DMT-Z
185  20050804                  10.0      DMT-Z
186  20050810                  10.0      DMT-Z
198  20051102                  10.0      DMT-Z

In [95]:
df1not[(df1not.SolutionConcentration.astype(float) == 5) & (df1not.SensorType =='SPC')][['Date', 'SolutionConcentration', 'SensorType']]

         Date SolutionConcentration SensorType
308  20070218                     5        SPC

In [80]:
nilu_not_ndacc = df1not.Date.tolist()

In [81]:
print(nilu_not_ndacc)

['20040227', '20040908', '20040915', '20040922', '20040929', '20041006', '20041013', '20041021', '20041027', '20041103', '20041110', '20041117', '20041124', '20041201', '20041208', '20041215', '20041223', '20041227', '20041229', '20050102', '20050105', '20050107', '20050109', '20050112', '20050118', '20050119', '20050123', '20050131', '20050202', '20050203', '20050209', '20050210', '20050211', '20050219', '20050221', '20050225', '20050228', '20050304', '20050307', '20050308', '20050310', '20050316', '20050316', '20050317', '20050323', '20050325', '20050330', '20050406', '20050420', '20050427', '20050427', '20050504', '20050511', '20050518', '20050525', '20050601', '20050608', '20050615', '20050622', '20050629', '20050706', '20050714', '20050720', '20050727', '20050804', '20050810', '20050817', '20050824', '20050831', '20050907', '20050914', '20050921', '20050929', '20051005', '20051012', '20051019', '20051026', '20051102', '20051116', '20051208', '20060323', '20060324', '20060325', '20060326', '20060327', '20060328', '20060328', '20060330', '20060331', '20060331', '20060401', '20060402', '20060403', '20060404', '20060406', '20060406', '20060407', '20060408', '20060408', '20060409', '20060410', '20061101', '20070131', '20070201', '20070202', '20070202', '20070203', '20070204', '20070205', '20070206', '20070208', '20070209', '20070209', '20070210', '20070211', '20070212', '20070212', '20070213', '20070213', '20070215', '20070215', '20070216', '20070217', '20070217', '20070218', '20070218', '20070219', '20070219', '20070220', '20070222', '20070223', '20070224', '20070225', '20070226', '20070226', '20070227', '20070227', '20070302', '20070303', '20070306', '20081022', '20090325', '20100527', '20100602', '20100721', '20100728', '20100818', '20100922', '20100929', '20101006', '20101222', '20110331', '20110402', '20110503', '20110706', '20110831', '20111012', '20111019', '20111103', '20111109', '20111116', '20111123', '20130905', '20140108', '20150304', '20180625', '20191016', '20191030', '20191121', '20191204', '20191212', '20191219', '20200103', '20200110', '20200115', '20200122', '20200124', '20200128', '20200211', '20200212', '20200225', '20200304', '20200320', '20200330', '20200402', '20200406', '20200409', '20200417', '20200507', '20200512', '20200522', '20200604', '20200616', '20200709', '20200722', '20200807', '20200826', '20200911', '20200924', '20201008', '20201021', '20201104', '20201119', '20201204', '20201211', '20201216']

In [88]:
dfnd[dfnd.Date == '20060607']

,BkgUsed,LaunchTime,Longitude,Latitude,SolutionVolume,SolutionConcentration,PF,iB0,iB2,DurationSurfaceOzoneExposure,...,GroundEquipment,PumpTable,BackgroundCorrection,SerialECC,SensorType,InterfaceSerial,RadiosondeModel,RadiosondeSerial,Date,PumpTempLoc
321,Constant,11.5139,26.6297,67.3666,3,5,27.49,0.008,0.008,15,...,Vaisala DigiCORA III,zzzzzzzzzzzzzzzzzzzz,Constant,Z10638u,DMT-Z,A51315035,NaN,NaN,20060607,Pump hole

In [85]:
ndacc_not_nilu = df2not.Date.tolist()

In [89]:
print(ndacc_not_nilu)

['20040714', '20050222', '20050301', '20050322', '20050412', '20060208', '20060222', '20060412', '20060419', '20060607', '20060628', '20060802', '20090701', '20110504']

In [92]:
945 - 731

214

In [97]:
#uccle 
dfu = pd.read_csv('/home/poyraden/Analysis/Homogenization_public/Files/uccle/Raw/Metadata/All_metadata.csv')

In [98]:
dfu

,Unnamed: 0,mDate,mRadioSondeNr,PF,iB0,iB1,CorrectionFactor,SondeNr,InterfaceNr,DateTime,Datenf
0,0,1996101612,631308110,29.80,-1.000,-1.000,0.9880,2088,880122010232X,1996-10-16 12:00:00,19961016
1,1,1996102312,631308113,30.50,-1.000,-1.000,0.9506,2093,880094810035X,1996-10-23 12:00:00,19961023
2,2,1996103012,XXXXXXXXX,31.00,0.040,-1.000,0.9672,2089,880122010264X,1996-10-30 12:00:00,19961030
3,3,1996111312,631306801,31.00,0.010,-1.000,0.9618,2085,880122010239X,1996-11-13 12:00:00,19961113
4,4,1996112712,631307609,31.00,0.008,-1.000,0.9869,2090,880142010205X,1996-11-27 12:00:00,19961127
...,...,...,...,...,...,...,...,...,...,...,...
3494,3494,2020121412,R3340684,29.20,0.036,0.092,1.0161,37637,S3913183,2020-12-14 12:00:00,20201214
3495,3495,2020121612,R3341097,29.83,0.028,0.086,1.0119,37638,S3913182,2020-12-16 12:00:00,20201216
3496,3496,2020121812,R3341163,29.48,0.005,0.066,1.0024,37636,S3913187,2020-12-18 12:00:00,20201218
3497,3497,2020122112,R3340683,31.25,0.005,0.052,1.0141,34940,R3353372,2020-12-21 12:00:00,20201221
3498,3498,2020122312,R3341161,30.20,0.025,0.100,1.0125,37654,S3913188,2020-12-23 12:00:00,20201223

In [102]:
df = pd.read_hdf('/home/poyraden/Analysis/Homogenization_public/Files/uccle/DQA/20061108_all_hom_rs80.hdf')

In [104]:
df[['Crs']]

      Crs
0   -0.34
1   -0.34
2   -0.34
3   -0.34
4   -0.34
..    ...
393 -1.02
394 -1.02
395 -1.02
396 -1.02
397 -1.02

[398 rows x 1 columns]